body{
    margin:0;
    font-family:'Segoe UI';
    color: #eee;
    background: linear-gradient(to bottom, #333, #000);
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 0;  
    margin-bottom: 10px;
    padding: 5px;

}
form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 30px #aaa2;
    margin-top: 50px;
    border-radius: 6px;
    margin-bottom: 40px;
}
.form_input{
    padding: 6px 20px;
}
input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: 2px solid #333;
    background-color: transparent;
    border-radius:  4px ;
    color: #eee;
} 
option{
    background-color: #333;
}
textarea{
    min-width: 100%;
    min-height: 102px; /*se puede reemplazar poniendo las rows en el html*/
    resize: none;
    font-family: sans-serif;
}
label{
    font-size: 0.88em;
    line-height: 2;
}

.checkbox{
    width: auto;
    height: 10px;
}

fieldset{
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 10px;
    padding: 5px 5px 20px 5px;
    border: 1px solid #333;
}
legend{
    padding: 0 6px;
    color: #666;
}