*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;

    font-family:  "Cal Sans";
}
.header{
    z-index: -2;
}
/*------- HEADER SECTION -------*/
.header__container{
    background-color: #dedede; 
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 9px  #7070707f;
    flex-wrap: wrap;
    padding: 30px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-wrap: pretty;
    gap: 10px;
}
/*----- HEADER NAME -----*/
.header__container__name{
    font-weight: 100;
    letter-spacing: 3px;
    margin: auto;
    margin-left:10dvw;
    display: inline-block;
    font-size: clamp(2rem, 10vw,4rem);
    position: relative;
    padding: 0;
    height: auto;
    
}   
.header__container__name::before{
    content: '';
    height: 100%;
    width: 1px;
    background-color: #dedede;
    position: absolute;
    right: 0;
    animation: escribir 1s steps(15) both;
    animation-delay: 0.5s, 1.5s;
    z-index: 2;
}

.bar{    
    display: inline-block;
    animation: parpadear 1s infinite ;
}

/*----- HEADER NAV -----*/

.header__nav{
    background: radial-gradient( #d1d1d1,#cbcbcbc8);
    border-radius: 1000px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    min-height: 300px;
    min-width:20px;
    box-shadow: 0px 0px 15px #000000aa;
}
img {
    max-height:70%;
    max-width: 70%;
    object-fit: contain;
    padding: 0;
    
}
.header__nav__item {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #000000;
    transition: all 0.6s ease-in-out;
}
.header__nav__item:hover{
    background-color: #ffffff;
    width: 35px;
    height: 35px;
}

.abtme{
    transform:  scale(1.25)  translateX(-0.4px);
    overflow: hidden;
}
/*----- HEADER QUERIES -----*/

@media screen and (max-width :790px){
    .header__container__name::before{
        animation:none;
       
    }
}

@media screen and (max-width :1140px){
    
    .header__container{
        flex-direction: column;
        padding: 30px;
    }
    .header__container__name{
        text-align: center;
        margin: auto;
    }
    
    .header__nav{
        margin:auto;
        flex-flow: row;
        flex-shrink: 1;
        min-height: fit-content;
        width: 70%;
        margin-bottom: -10px;
        padding: 5px 2px;
    }
    .abtme{
        transform:  scale(1.25)  translateX(0.26px);

    }

  
    
}


/*----- HEADER ANIMATIONS -----*/
@keyframes parpadear {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
@keyframes escribir {
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}


.languages__container{
    height: 100dvh;
    width: 100%;
    background-color: #dedede; 
    display: grid;
}